.contact-container {
    text-align: center;
    margin: auto;

    .contact {
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 220px 20px;
        color: #fff;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }

    .contact-heading {
        font-size: 3.5rem;
        font-weight: 900;
        margin: 0;
    }

    .contact-info-container {
        margin-top: 2rem;
        line-height: 1.5;
        font-size: 1.5rem;
        color: #333;
    }

    .form-container {
        border-radius: 10px;
        max-width: 80%;
        margin: 0 auto;
    }

    .name-inputs {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }

    .input-group {
        width: 100%;
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: 600;
        }

        input,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 1rem;
        }

        textarea {
            height: 120px;
            resize: vertical;
        }
    }

    .button1 {
        background-color: #48382E;
        color: white;
        padding: 12px 80px;
        border: none;
        border-radius: 0.6rem;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        margin: 0;

        &:hover {
            background-color: #444;
        }
    }
}

@media (max-width: 768px) {
    .contact-heading {
        font-size: 2em;
    }

    .name-inputs {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .contact {
        height: 65vh;
    }

    .contact-heading {
        font-size: 1.8em;
        position: absolute;
        top: 40%;
        left: 25%;
    }

    .button1 {
        border-radius: 0.6rem;
        padding: 10px 15px;
        width: 100%;
    }
}